{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" conect="IE-edgue">
    <meta name="viewport"
    conect="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <header>
      <main>
      <div class="container">
        <div class="btn-menu">
            <label for="" clas="icon-menu"></label>
        </div>
        <div class="logo">
          <h1>Cine Kaiser</h1>
        <nav class="menu">
        {% block title %} {% endblock %}
        <a href="{% url 'apps.publicaciones:mostrarTodo_publicacion'%}">inicio</a>
          {%if request.user.is_authenticated%}{{ user.username | upper }}
        <a href={% url "apps.usuario:salir"%}>Cerrar sesion</a> 
          {%if request.user.is_staff%}
        <a href="{% url 'apps.publicaciones:crear_publicacion'%}">publicar</a>
          {%endif%}{%else%}
        <a href={% url "apps.usuario:acceder"%}> iniciar sesion</a> 
        <a href="{% url 'apps.usuario:crear_usuario'%}">cuentanueva</a>
          {%endif%} 
</header>
  {% block content %}SOBRE NOSOTROS {% endblock %}
</main> 
<footer>
  <h3>todo sobre nosotrossss</h3>
</footer>
</body>
</html>