{%extends "base.html"%} 
{%load static%} 
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="css/estilo.css"> 
{% block content %} 
<a href="https://cine.kaiser2024@gmail.com" style="margin: 0; font-size: 30px; color: #ffffff; margin-left:60px;bottom: 0; left: 50%">Correo</a>
<a href="https://www.instagram.com/Cine_Kaiser" style="margin: 0; font-size: 30px; color: #ffffff; margin-left:60px;bottom: 0; left: 50%">Instagram</a>
</a>  
{% endblock %}