{%extends "base.html"%} {%load static%} 
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="css/estilo.css"> 
{% block content %} 
<h3>filtros </h3>
<a href="{% url 'apps.publicaciones:filtradoaz'%}">a - z</a> 
<a href="{% url 'apps.publicaciones:filtradoza'%}">z - a</a> 
<a href="{% url 'apps.publicaciones:filtradomenor'%}">menor -mayor</a> 
<a href="{% url 'apps.publicaciones:filtradomayor'%}">mayor-menor</a> 
{%for p in peliculas %}
<div>
  {{p.genero }} 
  {{p.nombre}}
  {{p.review}}
  {% if p.imagen %}
  <img src="{{p.imagen.url}}" style="width:160px">     
  {% endif %}
</div>
<a href="{% url 'apps.publicaciones:editar_publicacion' p.id %}">edit</a>
  <a href="{% url 'apps.publicaciones:mostrar_publicacion' p.id %}">ver</a>
  {%if request.user.is_staff%}

  <a href="{% url 'apps.publicaciones:eliminar_publicacion' p.id %}">eliminar</a>
  {%endif%} 
  {%endfor%}
{% endblock %}