{%extends "base.html"%} 
{%load static%} 
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="css/estilo.css"> 
{% block content %}
<div style="text-align: center;" > 
<p style="text-align: center center ;margin: 0; font-size: 35px; color: #ffffff; margin-left:5px; position: absolute; bottom: 0; left: 50%; transform: translateX(-25%);">
    Desde ya queremos agradecerte por permitirnos ingresar a tus recuerdos mas bonitos,
    esperamos nuestra plataforma sea de tu agrado.
    Somos jovenes estudiantes que buscamos hacerte viajar en el tiempo de una forma especial.
    En esta nueva era de tecnologia con grandes clasicos 
    llegando a tu dispositvo de una forma unica un momento placentero.
    Seria muy constructivo para nosotros que nos ayudes a crecer dejando tu comentario y 
    contactandote para mas sugerencias en nuestras redes sociales que dejamos en la descripcion. </p></div>
{% endblock %}