{%extends "Base.html"%}
{%block conect%}
<h2> Desde ya queremos agradecerte por permitirnos ingresar a tus recuerdos mas bonitos, 
    esperamos nuestra plataforma sea de tu agrado.
    Somos jovenes estudiantes que buscamos hacerte viajar en el tiempo de una forma especial.
    En esta nueva era de tecnologia con grandes clasicos llegando a tu dispositvo de una forma unica un momento placentero.
    Seria muy constructivo para nosotros que nos ayudes a crecer dejando tu comentario y 
    contactandote para mas sugerencias en nuestras redes sociales que dejamos en la descripcion. 
</h2> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
<a herf="http=//www.gmail.com/cine.kaiser2024@gmail.com" target="_blank">
<a href="https://www.instagram.com/Cine_Kaiser" target="_blank">  
    <i class="fab fa-instagram"></i>  
</a>  

{%endblock%}