{% extends "base.html"%} {% block content %}
<h3
  style="
    margin: 30;
    font-size: 20px;
    color: black;
    margin-left: 0px;
    text-align: center;
  "
>
  {{ publicacion.genero }} {{ publicacion.nombre }} {{ publicacion.review }}
</h3>
{% if publicacion.imagen %}
<div style="text-align: center">
  <iframe
    width="600"
    height="600"
    src="{{publicacion.enlace}}"
  ></iframe>
</div>
{% endif %}

<h4
  style="font-size: 20px; color: #ffffff; margin-left: 0px; text-align: center"
>
  Comentarios
</h4>
<div class="comentario__auxiliar">
  <section class="comentario__container">
    {% for comentario in comentarios %}
    <div class="comentario__wrap">
      <div class="comentario__informacion">
        <div class="comentario__informacion--alineamiento">
          <p>Publicado hace {{comentario.created_at|timesince}}</p>
          <p>
            <strong>{{comentario.likes.count}} ❤️</strong>
          </p>
        </div>
        <div class="comentario__comentario">
          <p class="__ppal">{{comentario.usuario}}:</p>
          <p class="__scnd">{{comentario.texto}}</p>
        </div>
      </div>
      <div class="comentario__botones">
        <!-- LIKE POST BTN -->
        <form
          action="{% url 'apps.publicaciones:like' publicacion.pk comentario.pk %}"
          method="POST"
        >
          {% csrf_token %}
          <button>
            {% if user in comentario.likes.all %} Quitar Like {% else %} Dar
            Like {% endif %}
          </button>
        </form>

        {% if user == comentario.usuario or user.is_staff %}
        <!-- EDITAR POST BTN -->
        <form
          action="{% url 'apps.publicaciones:modificar_comentario' comentario.pk %}"
          method="POST"
        >
          {% csrf_token %}
          <button>Editar</button>
        </form>

        <!-- Formulario para eliminar el comentario -->
        <form
          action="{% url 'apps.publicaciones:borrar_comentario' comentario.pk %}"
          method="POST"
        >
          {% csrf_token %}
          <button>Eliminar</button>
        </form>

        <!-- ELIMINAR POST BTN -->
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>No hay comentarios aún.</p>
    {% endfor %}
  </section>
</div>

<!-- Formulario para agregar un nuevo comentario -->
<div class="agregar_comentario__container">
  <h4
    style="
      margin: 30;
      font-size: 20px;
      color: #ffffff;
      margin-left: 0px;
      text-align: center;
      justify-content: center;
    "
  >
    Agregar un comentario
  </h4>
  <form
    method="POST"
    action="{% url 'apps.publicaciones:comentar' publicacion.id %}"
    class="agregar_comentario__form"
  >
    {% csrf_token %}
    <textarea
      name="texto"
      rows="8"
      cols="50"
      class="agregar_comentario__form--textarea"
      required
    ></textarea>
    <div class="agregar_comentario__form-btnContainer">
      <button>Enviar</button>
    </div>
  </form>
</div>

{% endblock %}
