{% extends "base.html"%}

{% block title %}Detalles de la Publicación{% endblock %}

{% block content %}
<h3>{{ publicacion.genero }}
   {{ publicacion.nombre }}
    {{ publicacion.review }}</h3>

{% if publicacion.imagen %}
<p>
  <iframe width="650" height="315" src="{{publicacion.enlace}}" allowfullscreen></iframe>
</p>
{% endif %}

<!-- Sección para mostrar comentarios existentes -->
<h4>Comentarios</h4>
{% for comentario in comentarios %}
  <div>
    <p><strong>{{ comentario.usuario }}:</strong> {{ comentario.texto }}</p>
    <p><small>{{ comentario.created_at }}</small></p>
    <!-- Mostrar cantidad de likes -->
    <p>{{ comentario.likes.count }} likes</p>

    <!-- Botón para dar o quitar "like" -->
    <form action="{% url 'apps.publicaciones:like' publicacion.pk comentario.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit">
            {% if user in comentario.likes.all %}
                Quitar Like
            {% else %}
                Dar Like
            {% endif %}
        </button>
    </form>
    <!-- Opciones de editar y eliminar -->
    {% if user == comentario.usuario or user.is_staff %}
    <div class="comentario-actions">
      <!-- Botón para editar el comentario -->
      <a href="{% url 'apps.publicaciones:modificar_comentario' comentario.pk %}" class="btn btn-primary">Editar</a>

      <!-- Formulario para eliminar el comentario -->
      <form action="{% url 'apps.publicaciones:borrar_comentario' comentario.pk %}" method="POST" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este comentario?');">Eliminar</button>
      </form>
    </div>
  {% endif %}
{% empty %}
  <p>No hay comentarios aún.</p>
{% endfor %}

<!-- Formulario para agregar un nuevo comentario -->
<h4>Agregar un comentario</h4>
<form method="POST" action="{% url 'apps.publicaciones:comentar' publicacion.id %}" >
  {% csrf_token %}
  <textarea name="texto" rows="4" cols="50" required></textarea>
  <br>
  <button type="submit">Enviar</button>
</form>

{% endblock %}



